body {
    background: darkolivegreen;
}

.hello {
    background-image: url("https://images.unsplash.com/photo-1481207801830-97f0f9a1337e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=be08aede38d12b6e061a1c1a32cc173f&auto=format&fit=crop&w=1050&q=80");
    height:100vh;
    background-size:cover;
}
.navbar {
    margin-bottom: 0;
    border:0;
}
